.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 54%, 90%);
}
body {
   height: 60%;  
   margin-left: 40px;
   width: 650px;
   padding: 1.5%;
   background-color:hsl(330, 100%, 98%);
}
.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
table, tr, th, td {
    width: 500px;
    line-height: 2.5;
}

img {
    border-radius: 15px;
    width: 600px;
    height: 225px;
}

h1 {
    font-family:"Young Serif", serif;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.indent {
    font-family: "Outfit", sans-serif;
    margin:20px;
    text-indent: 20px;
}



h2 {
    margin:0;
    color:hsl(24, 48%, 37%);
    font-size: 22px;
    font-weight: 300; 
}



.line {
    line-height: 1.8;
}

ul {
    line-height: 2.0;
}

ol {
    margin-top: 15px;
}

.name {
    margin: 0, 10, 0. 0 ;
}

p, ol, ul, table {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    
} 

table {
    margin-left: 30px;
    margin-right: 25px;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 1px solid hsl(30, 10%, 34%)
}

.attribution {
    text-align: left;
}

@media  (max-width: 650px) {
    body {
      width:425px;
    }
    img {
        width: 400px;
    }
  }